# .env.
# The recovery phrase for the wallet that will be restored while preparing Metamask 
# Will be the selected wallet by default when connecting to the dApp 
SECRET_WORDS='your seed phrase'
# Network info at which the tests will run. 
NETWORK_NAME='Sepolia'
CHAIN_ID=11155111
RPC_URL='https://rpc.sepolia.org'
SYMBOL="ETH"
IS_TESTNET=true